.ace-kuroir {
  background-color: transparent !important;
}
div {
  font-family: 'Poppins', sans-serif !important;
}
.ace_gutter-active-line {
  background-color: transparent !important;
}
.ace_active-line {
  background-color: transparent !important;
}
.ace-kuroir .ace_marker-layer .ace_bracket {
  border: 0px;
}
.ace_print-margin {
  visibility: hidden !important;
}
.ace_hidden-cursors .ace_cursor {
  opacity: 0 !important;
}
